<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Add Pattern</title>
</head>

<body>
    <!-- <form method="POST" action="/pattern/delete?_method=DELETE" id="deleteForm" hidden>
        <input type="hidden" name="patternId" id="patternId" value="<%= pattern.id %>">
    </form> -->

    <div class="container">
        <div style="margin: 40px auto">
            <form id="createForm" method="POST" action="/pattern?_method=PUT">
                <div class="form-group form-row">
                    <div class="col-9">
                        <label for="name">Pattern Name:</label>
                        <input class="form-control" type="text" id="name" name="pattern[name]" placeholder="Required"
                            value="<%= pattern.name %>" required>
                    </div>
                    <div class="col-3">
                        <label for="oilPerBoard">Oil Per Board:</label>
                        <input class="form-control" type="text" id="oilPerBoard" name="pattern[oilPerBoard]"
                            placeholder="Required" value="<%= pattern.oilPerBoard %>" required>
                    </div>
                    <!-- <div class="col-1">
                        <button form="deleteForm" class="btn btn-danger">Delete</button>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col">
                        <h3>Forward Pass
                            <button id="forwardPassAdd" type="button" class="btn btn-sm btn-success">
                                <i class="material-icons">add_circle</i>
                            </button>
                        </h3>
                    </div>
                </div>
                <div id="forwardPass">
                    <% for (var p = 0; p < pattern.forward.length; p++) { %>
                    <div class="form-group form-row">
                        <div class="col"></div>
                        <div class="col">
                            <% if(p == 0) { %>
                            <label>Start:</label>
                            <% } %>
                            <input class="form-control" type="text" name="forward[start]" placeholder="Required"
                                value="<%= pattern.forward[p].start %>" required>
                        </div>
                        <div class="col">
                            <% if(p == 0) { %>
                            <label>Stop:</label>
                            <% } %>
                            <input class="form-control" type="text" name="forward[stop]" placeholder="Required"
                                value="<%= pattern.forward[p].stop %>" required>
                        </div>
                        <div class="col">
                            <% if(p == 0) { %>
                            <label>Loads:</label>
                            <% } %>
                            <input class="form-control" type="text" name="forward[loads]" placeholder="Required"
                                value="<%= pattern.forward[p].loads %>" required>
                        </div>
                        <div class="col">
                            <% if(p == 0) { %>
                            <label>Speed:</label>
                            <% } %>
                            <input class="form-control" type="text" name="forward[speed]" placeholder="Required"
                                value="<%= pattern.forward[p].speed %>" required>
                        </div>
                        <div class="col">
                            <% if(p == 0) { %>
                            <label>StartF:</label>
                            <% } %>
                            <input class="form-control" type="text" name="forward[startF]" placeholder="Required"
                                value="<%= pattern.forward[p].startf %>" required>
                        </div>
                        <div class="col">
                            <% if(p == 0) { %>
                            <label>End:</label>
                            <% } %>
                            <input class="form-control" type="text" name="forward[end]" placeholder="Required"
                                value="<%= pattern.forward[p].end %>" required>
                        </div>
                        <% if(p == 0) { %>
                        <div class="col"></div>
                        <% } else { %>
                        <div class="col">
                            <button type="button" class="btn btn-danger"
                                onclick="deleteRow($(this).parent());">X</button>
                        </div>
                        <% } %>
                    </div>
                    <% } %>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <h3>Reverse Pass
                            <button id="reversePassAdd" type="button" class="btn btn-sm btn-success">
                                <i class="material-icons">add_circle</i>
                            </button>
                        </h3>
                    </div>
                </div>
                <div id="reversePass">
                    <% for (var p = 0; p < pattern.reverse.length; p++) { %>
                    <div class="form-group form-row">
                        <div class="col"></div>
                        <div class="col">
                            <% if(p == 0) { %>
                            <label>Start:</label>
                            <% } %>
                            <input class="form-control" type="text" name="reverse[start]" placeholder="Required"
                                value="<%= pattern.reverse[p].start %>" required>
                        </div>
                        <div class="col">
                            <% if(p == 0) { %>
                            <label>Stop:</label>
                            <% } %>
                            <input class="form-control" type="text" name="reverse[stop]" placeholder="Required"
                                value="<%= pattern.reverse[p].stop %>" required>
                        </div>
                        <div class="col">
                            <% if(p == 0) { %>
                            <label>Loads:</label>
                            <% } %>
                            <input class="form-control" type="text" name="reverse[loads]" placeholder="Required"
                                value="<%= pattern.reverse[p].loads %>" required>
                        </div>
                        <div class="col">
                            <% if(p == 0) { %>
                            <label>Speed:</label>
                            <% } %>
                            <input class="form-control" type="text" name="reverse[speed]" placeholder="Required"
                                value="<%= pattern.reverse[p].speed %>" required>
                        </div>
                        <div class="col">
                            <% if(p == 0) { %>
                            <label>StartF:</label>
                            <% } %>
                            <input class="form-control" type="text" name="reverse[startF]" placeholder="Required"
                                value="<%= pattern.reverse[p].startf %>" required>
                        </div>
                        <div class="col">
                            <% if(p == 0) { %>
                            <label>End:</label>
                            <% } %>
                            <input class="form-control" type="text" name="reverse[end]" placeholder="Required"
                                value="<%= pattern.reverse[p].end %>" required>
                        </div>
                        <% if(p == 0) { %>
                        <div class="col"></div>
                        <% } else { %>
                        <div class="col">
                            <button type="button" class="btn btn-danger"
                                onclick="deleteRow($(this).parent());">X</button>
                        </div>
                        <% } %>
                    </div>
                    <% } %>
                </div>
                <button class="btn btn-success">Submit</button>
                <input type="hidden" name="pattern[id]" id="patternId" value="<%= pattern.id %>">
            </form>
        </div>
    </div>

    <div id="forwardTemplate" hidden>
        <div class="form-group form-row">
            <div class="col"></div>
            <div class="col">
                <!-- <label>Start:</label> -->
                <input class="form-control" type="text" name="forward[start]" placeholder="Required" required>
            </div>
            <div class="col">
                <!-- <label>Stop:</label> -->
                <input class="form-control" type="text" name="forward[stop]" placeholder="Required" required>
            </div>
            <div class="col">
                <!-- <label>Loads:</label> -->
                <input class="form-control" type="text" name="forward[loads]" placeholder="Required" required>
            </div>
            <div class="col">
                <!-- <label>Speed:</label> -->
                <input class="form-control" type="text" name="forward[speed]" placeholder="Required" required>
            </div>
            <div class="col">
                <!-- <label>Start:</label> -->
                <input class="form-control" type="text" name="forward[startF]" placeholder="Required" required>
            </div>
            <div class="col">
                <!-- <label>End:</label> -->
                <input class="form-control" type="text" name="forward[end]" placeholder="Required" required>
            </div>
            <div class="col">
                <button type="button" class="btn btn-danger" onclick="deleteRow($(this).parent());">X</button>
            </div>
        </div>
    </div>
    <div id="reverseTemplate" hidden>
        <div class="form-group form-row">
            <div class="col"></div>
            <div class="col">
                <!-- <label>Start:</label> -->
                <input class="form-control" type="text" name="reverse[start]" placeholder="Required" required>
            </div>
            <div class="col">
                <!-- <label>Stop:</label> -->
                <input class="form-control" type="text" name="reverse[stop]" placeholder="Required" required>
            </div>
            <div class="col">
                <!-- <label>Loads:</label> -->
                <input class="form-control" type="text" name="reverse[loads]" placeholder="Required" required>
            </div>
            <div class="col">
                <!-- <label>Speed:</label> -->
                <input class="form-control" type="text" name="reverse[speed]" placeholder="Required" required>
            </div>
            <div class="col">
                <!-- <label>Start:</label> -->
                <input class="form-control" type="text" name="reverse[startF]" placeholder="Required" required>
            </div>
            <div class="col">
                <!-- <label>End:</label> -->
                <input class="form-control" type="text" name="reverse[end]" placeholder="Required" required>
            </div>
            <div class="col">
                <button type="button" class="btn btn-danger" onclick="deleteRow($(this).parent());">X</button>
            </div>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        $().ready(function () {
            $("#forwardPassAdd").click(function () {
                $("#forwardPass").append($("#forwardTemplate").html());
            });

            $("#reversePassAdd").click(function () {
                $("#reversePass").append($("#reverseTemplate").html());
            });
        });

        function deleteRow($elem) {
            $elem.parent().remove();
        }
    </script>
</body>

</html>